*, *::after, *::before
{
  margin: 0;
  padding: 0;
}

body 
{
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 100%);
  list-style: none;
}

/* CABEÇALHO */

header
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: hsl(0, 0%, 15%);
}

header menu 
{
  width: 100%;
  padding: 1% 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
}

header menu ul
{
  width: 65vw;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
}

header menu ul li 
{
  height: 3.5rem;
  padding: 1%;
  display: inline-flex;
  align-items: center;
  background-color: hsl(0, 0%, 100%, .9);
  color: hsl(162, 80%, 25%);
  border: .2rem solid hsl(162, 80%, 40%, 0.5);
  border-radius: .5rem;
  font-size: 1.3rem;
}

header menu ul li:hover 
{
  background-color: hsl(162, 80%, 40%);
  color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%, .9);
  cursor: pointer;
  transition: .5s;
}

header menu #containerBuscaPorNomes
{
  display: inline-flex;
  align-items: center;
}

header menu #containerBuscaPorNomes input
{
  height: 3rem;
  width: 9rem;
  margin-right: .3rem;
  padding: 0 1rem;
  background-color: hsl(0, 0%, 95%);
  border: .2rem solid hsl(162, 80%, 40%, 0.5);;
  border-radius: .5rem;
  font-size: 1.4rem;
}

header menu #containerBuscaPorNomes button,
.addToCart--active
{
  background-color: hsl(162, 80%, 25%);
  color: hsl(0, 0%, 100%);
  border: .2rem solid hsl(162, 80%, 40%);
  font-size: 1.25rem;
}

header menu #containerBuscaPorNomes button
{
  height: 3rem;
  aspect-ratio: 1 / 1;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  cursor: pointer;
}

header menu #containerBuscaPorNomes button:hover,
.addToCart--active:hover
{
  background-color: hsl(162, 80%, 40%);
  color: hsl(0, 0%, 15%);
  border-color: hsl(162, 80%, 15%);
  transition: .3s;
}

header menu #containerBuscaPorNomes button:active,
.addToCart--active:active
{
  background-color: hsl(162, 80%, 20%);
}

/*Cart*/
#valorDosProdutos
{
  height: 4rem;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 1.1rem;
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 100%);
  border: solid white;
  border-width: .1rem 0 0 0;
}

#valorDosProdutos img
{
  height: 2rem;
}

#valorDosProdutos #precoTotal
{
  padding: .5rem 0.3rem;
  background-color: hsl(0, 0%, 15%);
}

/* CONTEÚDO */

main 
{
  display: flex;
  background-color: hsl(162, 80%, 20%);
}

#containerListaProdutos
{
  padding: 2rem 0;
  width: 75vw;
}

#containerListaProdutos ul 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 1.25rem;
}

#containerListaProdutos ul .cardProdutos
{
  height: 27rem;
  padding: 1.5rem 1.1rem;
  background-color: hsl(0, 0%, 5%, .85);
  color: hsl(0, 0%, 100%);
  border-radius: .75rem;
  transition: ease-in-out .75s;
}

#containerListaProdutos .cardProdutos:hover 
{
  transform: scale(1.1);
  transition: 0.5s;
  background-color: hsl(0, 0%, 5%, 1);
  box-shadow: .3rem .2rem .1rem hsl(162, 80%, 50%);
}

#containerListaProdutos ul li img:hover 
{
  cursor: pointer;
  filter: contrast(110%);
  transition: 1.5s;
}

#containerListaProdutos ul li h3 
{
  margin: 1rem 0;
  font-size: 1.75rem;
  color: hsl(162, 80%, 50%);
}

#containerListaProdutos ul li p 
{
  margin: 1rem 0;
  font-size: 1.5rem;
}

#containerListaProdutos ul li span:not(.hotSales) 
{
  font-size: 1.25rem;  
}

#containerListaProdutos ul li span:not(.hotSales):hover 
{
  cursor: pointer;
  color: hsl(162, 80%, 40%);
}
/*COMPONENTS CARD*/
#containerListaProdutos ul.components
{
  margin-top: .3rem;
  display: block;
  justify-content: start;
  color: hsl(0, 0%, 100%);
}

#containerListaProdutos ul.components li:first-of-type
{
  border-radius: .5rem .5rem 0 0;
}

#containerListaProdutos ul.components li:last-of-type
{
  border-radius: 0 0 .5rem .5rem;
}

.components li 
{
  padding: .1rem .3rem;
  display: flex;
  justify-content: flex-start;
  background-color: hsl(0, 0%, 25%);
  border: .01rem solid hsl(162, 80%, 40%);
  font-size: 1rem;
}

.reducedPrice 
{
  padding: .2rem;
  background-color: hsl(162, 80%, 20%);
}

.hotSales 
{
  position: absolute;
  padding: .4rem;
  font-size: 1.2rem;
  background-color: hsl(162, 80%, 20%);
  border-radius: .4rem 0;
}

.addToCart--active
{
  position: relative;
  bottom: 20rem;
  left: 5%;
  width: 90%;
  padding: .5rem 1rem;
  font-style: italic;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
}

/*sidebar?*/
#containerCarrinho 
{
  height: 98vw;
  width: 22vw;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 15%, .5);
  border-radius: .5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

#containerCarrinho ::-webkit-scrollbar
{
  scrollbar-color: hsl(0, 0%, 15%, .5);
  background-color: hsl(0, 0%, 15%, .5);
}

.cartTotal
{
  line-height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: hsl(0, 0%, 95%);
  color: hsl(162, 80%, 20%);
}

.cartItems__items 
{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(0, 0%, 5%, .85);
  color: hsl(0, 0%, 100%);
}

.cartItems__items span
{
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
}

.cartItems span img 
{
  object-fit: contain;
  height: 5rem;
}


.removeButton 
{
  height: 2rem;
  width: 100%;
  background-color: hsl(162, 80%, 20%);
  color: hsl(0, 0%, 100%);
  border: .01rem solid hsl(162, 80%, 40%);
  font-size: 1.5rem;
}

.removeButton:hover 
{
  background-color: hsl(162, 80%, 40%);
  cursor: pointer;
  transition: .5s;
}
